@page "/"

<PageTitle>Index</PageTitle>

<input type="text" @bind="location" placeholder="Location"/>
<button @onclick="GetWeatherForecastAsync">Test</button>

@if (weather == null)
{
	<p>Loading...</p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Location</th>
				<th>Time</th>
				<th>Temp</th>
				<th>Feels Like</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@weather.weatherForecast.location.name</td>
				<td>@weather.weatherForecast.current.dt</td>
				<td>@weather.weatherForecast.current.temp</td>
				<td>@weather.weatherForecast.current.feels_like</td>
			</tr>
		</tbody>
	</table>

	<div>
		@weather.weatherForecast.location.name
		@weather.weatherForecast.current.dt
		@weather.weatherForecast.current.temp
		@weather.weatherForecast.current.feels_like
	</div>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
	string location;
	Weather? weather;

	/*void GetWeatherForecast()
		{
		Console.WriteLine(weather == null);
		if (weather != null)
			weather.MakeForecastFromLocation(location);
	}*/
	async Task GetWeatherForecastAsync(){
		Weather tempWeather = new Weather();
		await tempWeather.MakeForecastFromLocationAsync(location);
		weather = tempWeather;
	}
}
